.table-container {
    width: 150%;
    margin: auto;
  }
  
  .data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid white; /* Add white border to the table */
  }
  
  .data-table th,
  .data-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #282c34;
    color: white;
  }
  
  .data-table th {
    background-color: #282c34;
  }
  
  .data-table tr:nth-child(even) {
    background-color: #282c34;
  }
  
  .data-table tr:nth-child(odd) {
    background-color: #282c34;
  }
  
  .data-table th,
  .data-table td {
    border: 1px solid white; /* Add white border to table cells */
  }
  